@model PrivateLabelLite.Models.SalesOrderMappingModels
@using PrivateLabelLite.Entities.Common;
@{
    ViewBag.Title = "SalesOrderMapping";
}
<h3 class="top">
    <span class="btn-manage-xs pull-right hidden-md hidden-lg">
        <a data-toggle="collapse" data-target="#search-xs" class="pull-right" style="width:43px">
            <span class="btn-manage"><i class="fa fa-search" aria-hidden="true"></i></span>
        </a>
    </span>
</h3>


<div ng-controller="companyCtrl" ng-init='model = @Html.ToJson(Model);isVisible=true;showSingleDelete = false; model.filter.companyId = ""' class="container-fluid">
    <div>
        <h3>Sales Order Mapping</h3>
        <button ng-click="editSalesOrderMapping(null)" class="btn btn-sm btn-primary">Add Sales Order</button>
        <span class="row pull-right visible-xs visible-sm" ng-cloak>
            <a ng-show="showSingleDelete" ng-click='showMultipleDeleteCompanyOrderMappingPopup()' title="Delete">
                <span class="btn-manage btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </a>&nbsp;
        </span>
        <br><br>
    </div>
    <section class="row hidden-md hidden-lg data-card collapse" id="search-xs">
        <div class="col-xs-12">
            <div class="row data-head">
                <span>Search for Company and Orders</span>
            </div>

            <div class="row data-body">
                <div class="col-sm-6 col-xs-12">
                    <input type="text"
                           typeahead data="model.companies" text-placeholder="Companies"
                           no-of-suggestions="5" required-field="true"
                           model-text="model.companyName"
                           model="model.selectedCompany" text-field-name="companyName">
                </div>
                <div class="col-sm-6 col-xs-12">
                    <input type="text" ng-model="model.filter.salesOrderIds" ng-enter="filterCompanyOrders()" name="salesOrderNo" class="form-control" placeholder="Order" />
                </div>
            </div>

            <div class="row data-footer">
                <center>
                    <button class="btn btn-sm bg-theme-color" ng-click="hideSearchBar();filterCompanyOrders()" style="border-radius:20px"><b> Go &nbsp; &rarr;</b></button>
                </center>
            </div>
        </div>
    </section>

    <div class="container-fluid  hidden-sm hidden-xs">
        <div class="row table-responsive" style="min-height:350px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Customer Company</th>
                        <th>Orders</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="hidden-xs hidden-sm">
                        <td></td>
                        @*Search by Company*@
                        <td>
                             <div typeahead data="model.companies" text-placeholder="Company"
                                 no-of-suggestions="5" required-field="true"
                                 model-text="model.companyName"  
                                 model="model.selectedCompany" text-field-name="companyName"
                                 on-change-method ="filterCompanyOrders">
                            </div>
                        </td>
                        @*Search by Order*@
                        <td>
                            <input type="text" class="form-control no-padding" placeholder="Sales Order" name="salesOrderId"
                            ng-model="model.filter.salesOrderIds" ng-change="filterCompanyOrders()" ng-enter="filterCompanyOrders()" style="max-width:90px" />
                        </td>

                        @*Actions search and Remove*@
                        <td>
                            <table>
                                <tr>
                                    <td><a ng-click="filterCompanyOrders()"><span class="btn-manage"><i class="fa fa-search "></i></span></a> &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td><a ng-click="clearOrderSearch()"><span class="btn-manage"><i class="fa fa-close "></i></span></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td ng-cloak><a ng-show="showSingleDelete" ng-click='showMultipleDeleteCompanyOrderMappingPopup()' title="Delete">
                                        <span class="btn-manage btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>&nbsp;
                                    </td>
                                </tr>
                            </table>

                        </td>

                    </tr>

                    @*Starting of table DATA*@
                    <tr ng-repeat="item in model.companyOrders">
                        <td><input type="checkbox" ng-model="item.checked" ng-change="hideEditSales();" ng-checked="item.checked"/></td>
                        <td ng-bind="item.companyName"></td>
                        <td>
                            <span ng-bind="item.salesOrderId">

                            </span>
                        </td>

                        @*Edit and delete for each row*@
                        <td>
                            <table ng-show="isVisible">
                                <tr>
                                    <td>
                                        <a ng-click='editSalesOrderMapping(item)' title="Manage"><span class="btn-manage"><i class="fa fa-pencil" aria-hidden="true"></i></span></a> &nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <a ng-click='showDeleteCompanyOrderMappingPopup(item)' title="Delete"> <span class="btn-manage btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @*MOBILE VIEW START*@
    <section class="row hidden-md hidden-lg data-card" ng-repeat="item in model.companyOrders">
        <div class="col-xs-12">
            @*row for company*@
            <div class="row data-head">
                <input type="checkbox" ng-model="item.checked" ng-change="hideEditSales();" />
            </div>
            <div class="row data-body">
                <div class="col-xs-10 col-sm-6">
                    <div class="row">
                        <b>Customer Company :</b>
                        <span ng-bind="item.companyName"></span>
                    </div>
                    <p>
                        <div class="row">
                            <b>Order :</b>
                            <span ng-bind="item.salesOrderId"></span>
                        </div>
                    </p>
                </div>

                <div class="col-xs-2 col-sm-6" ng-show="isVisible">
                    <div class="row pull-right">
                        <a ng-click='editSalesOrderMapping(item)' title="Manage"><span class="btn-manage"><i class="fa fa-pencil" aria-hidden="true"></i></span></a> &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="row pull-right margin-top30">
                        <a ng-click='showDeleteCompanyOrderMappingPopup(item)' title="Delete"> <span class="btn-manage btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>&nbsp;&nbsp;
                    </div>
                </div>
            </div>@*end of row for company*@
            <div class="row data-footer"></div>
        </div>
    </section>
    <div paging updatemethod="filterCompanyOrders" pageno="model.filter.page" pagesize="@ConfigKeys.PageSize" totalrecords="model.companyOrders[0].totalRecords" isfixedpagesize="true"></div>

    <div class="modal fade" id="salesOrderMappingPopup" tabindex="-1" role="dialog" aria-labelledby="salesOrderMappingPopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{headerText}}</h4>
                </div>
                <form novalidate name="addSalesOrderMappingForm">
                    <div class="modal-body">
                        <span class="text-green" ng-bind="message"></span>  <br />
                        <span class="text-red" ng-repeat="error in errorMessage">{{error}} <br /></span>
                        <table class="table table-striped" ng-show="!isSuccess">
                            <tr>
                                <td>@Html.Label("Customer Company")</td>
                                <td>
                                   
                                    <div typeahead data="model.companies" text-placeholder="Search Companies"
                                         no-of-suggestions="5" required-field="true"
                                         model-text="model.companyOrder.companyName"
                                         model="model.selectedCompany" text-field-name="companyName">

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="!editCompanyOrder">
                                <td>@Html.LabelFor(m => m.CompanyOrder.SalesOrderIdCSV, "Sales Order No")</td>
                                <td>
                                    @Html.TextAreaFor(m => m.CompanyOrder.SalesOrderIdCSV, new
                                   {
                                       @class = "form-control",
                                       @ng_model = "model.companyOrder.salesOrderIdCSV",
                                       @style = "height:200px;width:100%;",
                                       @required = "required",
                                       @placeholder = "Sales Order Number"
                                   })
                                </td>
                            </tr>
                            <tr ng-if="editCompanyOrder">
                                <td>@Html.LabelFor(m => m.CompanyOrder.SalesOrderId, "Sales Order No")</td>
                                <td>@Html.TextBoxFor(m => m.CompanyOrder.SalesOrderId, new { @class = "form-control", @ng_model = "model.companyOrder.salesOrderId", @required = "required" })</td>
                            </tr>
                        </table>
                        <div ng-if="!editCompanyOrder" ng-show="!isSuccess">
                            <h5>* Use commas to add more than one SO number you want to make available</h5>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <div ng-show="!isSuccess">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" ng-disabled="addSalesOrderMappingForm.$invalid" class="btn btn-primary" ng-click="upsertCompanyOrderMapping(model)">Save</button>
                        </div>
                        <button ng-show="isSuccess" type="submit" class="btn btn-primary" data-dismiss="modal">Okay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteCompanyOrderPopup" tabindex="-1" role="dialog" aria-labelledby="deleteCompanyOrderPopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete order mapping : {{model.companyOrder.name}}</h4>
                </div>
                <div class="modal-body">
                    <form name="deleteEndUser">
                        {{message}}
                    </form>
                </div>
                <div class="modal-footer">
                    <div ng-show="!isSuccess">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" ng-click="deleteCompanyOrderMapping(model.companyOrder)">Delete</button>
                    </div>
                    <button ng-show="isSuccess" type="submit" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteMultipleCompanyOrderPopup" tabindex="-1" role="dialog" aria-labelledby="deleteCompanyOrderPopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete order mappings</h4>
                </div>
                <div class="modal-body">
                    <form name="deleteEndUser">
                        {{message}}
                    </form>
                </div>
                <div class="modal-footer">
                    <div ng-show="!isSuccess">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" ng-click="deleteCompanyOrderMapping()">Delete</button>
                    </div>
                    <button ng-show="isSuccess" type="submit" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>
